.assets {
    display: flex;

    .asset-section {
        font-size: 2.4rem;
        margin: 0 0 20px;
    }

    .asset-subsection {
        font-size: 1.9rem;
        margin: 0 0 16px;
    }

    .item-grid {
        margin-bottom: 52px;
    }

    .card {
        width: $card-width;
        height: $card-height;
        margin: 0;
    }

    .card-title {
        font-size: 1.3rem;
        overflow-wrap: break-word;
    }

    .card-shadow-title {
        background-color: rgba(0, 0, 0, 0.2); 
        height: 26px;color: white;
        padding-left:0.7rem;
        padding-right:0.7rem;
        margin-top: -26px;
    }

    .card-description {
        font-size: 1rem;
        height: initial;
    }

    .card-asset-image > img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }

    .card-asset-text{
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }

    .last-update{
        color: white;display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
    }

    .last-update-tooltip {
        position: relative;
    }
    
    .last-update-tooltip .last-update-tooltiptext {
        visibility: hidden;
        width: 90px;
        background-color: #232326;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }
    
    .last-update-tooltip:hover .last-update-tooltiptext {
        visibility: visible;
    }

    .emoji{
        font-size:5rem;
        width:100%;
        text-align:center;
    }

    a {
        text-decoration: none;
    }

    .book-content {
        margin-top: 16px;

        h3 {
            font-size: 1.9rem;
            font-weight: 700;
            text-decoration: none;
        }
    }
}
