{% macro card(post) %}
<div class="card" id="{{ post.title | slugify }}">
    <a href="{{ post.extra.link }}">
        <div class="card-asset-image card-asset-image-default" {% if post.extra.color %} style="
        background-color: {{post.extra.color}};"{% endif %}>
        {% if post.extra.image %}
            <img src="{{ get_url(path=post.extra.image) }}" />
        {% else %}
            <div class="emoji">{{post.extra.emoji}}</div>
        {% endif %}
        </div>

        <div class="card-shadow-title">{{ post.title }}</div>

        <div class="card-text card-asset-text">
            <!--<div class="card-title">{{ post.title }}</div>-->
            <div class="card-description">
                {{ post.description | striptags | truncate(length=100) | safe }}
            </div>

            <div>
            <div>
                {% for tag in post.extra.tags %}
                    <div class="chip">
                        <span class="chip-content">{{ tag }}</span>
                    </div> 
                {% endfor %}
            </div>
            
            <div style="font-size:10px; padding-top: 5px;display: inline-flex;">
                {% if post.extra.downloads %}
                <div style="color: white; ">
                    <img src="assets/download.svg" alt="crates.io downloads" style="width: 15px;vertical-align: middle;"></img>
                    {{ post.extra.downloads }}
                </div>
                {% endif %}

                {% if post.extra.last_update %}
                    <div class="last-update last-update-tooltip" style="padding-top: 2.5px;">
                        <img src="assets/last_update.svg" alt="last updated" style="width: 15px;vertical-align: middle;"></img>
                        <span class="last-update-tooltiptext" id="{{ post.title | slugify }}-date-tt"></span>
                        <div id="{{ post.title | slugify }}-date"></div>
                        <script>
                            var date_since_display = document.getElementById('{{ post.title | slugify }}-date');
                            var date_since_tooltip = document.getElementById('{{ post.title | slugify }}-date-tt');
                            var updated_date = new Date({{post.extra.last_update}} * 1000);                       
                            date_since_display.innerHTML = getSince(updated_date);
                            date_since_tooltip.innerHTML = updated_date.toDateString();
                        </script>
                    </div>
                {% endif %}

                {% if post.extra.last_update %}
                    <div style="color: white;">
                        <img src="assets/license2.svg" alt="license" style="width: 15px;vertical-align: middle;"></img>
                        {{ post.extra.license }}
                    </div>
                {% endif %}
            </div>

            {% for dep in post.extra.dependencies %}
                {% if dep.crate_id != "bevy" and dep.crate_id != "bevy_app" %}{% break %}{% endif %}
                <div style="color: white; ">
                    <img src="assets/bevy_bird.svg" alt="bevy version" style="width: 15px;vertical-align: middle;"></img>
                    <div class="chip">
                        <span class="chip-content">{{ dep.version }}</span>
                    </div> 
                </div>
            {% endfor %}
            </div>
        </div>
    </a>
</div>
{% endmacro card %}
