{% macro card(post) %}
<div class="card" id="{{ post.title | slugify }}">
    <a href="{{ post.extra.link }}">
        <div class="card-asset-image card-asset-image-default" {% if post.extra.color %} style="
        background-color: {{post.extra.color}};"{% endif %}>
        {% if post.extra.image %}
            <img src="{{ get_url(path=post.extra.image) }}" />
        {% else %}
            {% if post.extra.emoji %}
            <div style="font-size:5rem;width:100%;text-align:center;">{{post.extra.emoji}}</div>
            {% else %}
            <img src="https://via.placeholder.com/230x100" />
            {% endif %}
        {% endif %}
        </div>
        <div class="card-text">
            <div class="card-title">{{ post.title }}</div>
            <div class="card-description">
                {{ post.description | striptags | truncate(length=100) | safe }}
            </div>
            <div style="font-size:10px;color:#799BBB"> 
                {{ post.extra.tags }} - {{ post.extra.downloads }} -
                {% for dep in post.extra.dependencies %}
                    {% if dep.crate_id != "bevy" %}{% break %}{% endif %}
                    {{ dep.crate_id }}({{ dep.version }})
                {% endfor %}
            </div>
        </div>
    </a>
</div>
{% endmacro card %}
